{% extends "base.html" %}
{% load static %}
{% block title %}Employee List{% endblock title %}Employee List
{% block css %} 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container">

    {% include "messages/success-message-block.html" %}
    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="card-title">
              <h6 class="mr-2"><span>Employees</span></h6>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th class="max-width">Last Name</th>
                      <th class="sortable">Middle Name</th>
                      <th> Registered</th>
                      <th> Position</th>
                      {% if user.is_authenticated %}
                      <th>Actions</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody id="search-results">  
                    {% if object_list %}
                    {% for object in object_list  %}                
                    <tr>
                      <td class="align-middle text-center">
                        <div class="d-inline-flex align-top">{{object.first_name}}</div>
                      </td>
                      <td class="text-nowrap align-middle">{{object.last_name}}</td>
                      <td class="text-nowrap align-middle"><span>{{object.middle_name}}</span></td>
                      <td class="text-nowrap align-middle">{{object.employment_at}}</td>
                      <td class="text-center align-middle">{{object.position}}</td>
                      {% if user.is_authenticated %}
                      <td class="text-center align-middle">
                  
                        <div class="btn-group align-top">
                          <a href="{% url "employees:update" object.id %}"><button id="update-empl" class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button></a>
                            {% csrf_token %}
                            <button id="delete-button"  class="btn btn-sm btn-outline-secondary badge" type="button" value="{{object.id}}"><i class="fa fa-trash"></i></button>   
                        </div>
                      </td>
                      {% endif %}
                    </tr>
                    {% endfor %}  
                    {% else %}
                    <h2>not a single employee at the moment</h2>
                    {% endif %}
                  </tbody>
                </table>
              </div>
              {% include "employees/pagination.html" %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3" id='left-block'>
        <div class="card">
          <div class="card-body">
            <div class="text-center px-xl-3">
              <a href="{% url "employees:create" %}"><button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal">New Employee</button></a>
            </div>
            <div>
              <br>
              <div class="form-group">
                <label>Register Date:</label>
                <div>
                  <input id="date-range" class="form-control" placeholder="01 Dec 17" type="date" data-flatpickr>
              </div>

              </div>
              <div class="form-group">
                <label>Search:</label>
                <div>
                  <input class="form-control w-100" id="search-input" type="text" placeholder="Text" value="">
                  <br>
                  <button class="btn btn-info" id="search-button">Search</button>            
                </div>
              </div>
            </div>
            <hr class="my-3">
            {% include "employees/ordering.html" %}

            <hr>
             <button class="btn btn-warning" id="clear-button">Clear filters</button> 
            </div>
          </div>
        </div>
      </div>
    </div>  
</div>
</div> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static "scripts/delete.js" %}"></script>
<script src="{% static "scripts/clear.js" %}"></script>
<script src="{% static "scripts/search.js" %}"></script>
<script src="{% static "scripts/order.js" %}"></script>

   


{% endblock content %}


