<div class="order-block">
    <label>Order By:</label>
    <div class="px-2">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="order-by" id="order-by-first" value="first_name">
            <label class="custom-control-label" for="order-by-first">First Name</label>
        </div>
    </div>
    <div class="px-2">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="order-by" id="order-by-last" checked="" value="last_name">
            <label class="custom-control-label" for="order-by-last">Last Name</label>
        </div>
    </div>
    <div class="px-2">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="order-by" id="order-by-middle" value="middle_name">
            <label class="custom-control-label" for="order-by-middle">Middle Name</label>
        </div>
    </div>    
    <div class="px-2">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="order-by" id="order-by-registered" value="employment_at">
            <label class="custom-control-label" for="order-by-registered">Registered</label>
        </div>    
    </div>
</div>
