{% extends "base.html" %}

{% block title %}Employee List{% endblock title %}Employee List
{% block css %} <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">{% endblock css %}

{% block content %}
<div class="container">



    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="card-title">
              <h6 class="mr-2"><span>Employees</span><small class="px-1">Be a wise leader</small></h6>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th class="max-width">Last Name</th>
                      <th class="sortable">Middle Name</th>
                      <th> Registered</th>
                      <th> Position</th>
                      {% if user.is_authenticated %}
                      <th>Actions</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody id="search-results">  
                    {% for object in object_list  %}                
                    <tr>
                      <td class="align-middle text-center">
                        <div class="d-inline-flex align-top">{{object.first_name}}</div>
                      </td>
                      <td class="text-nowrap align-middle">{{object.last_name}}</td>
                      <td class="text-nowrap align-middle"><span>{{object.middle_name}}</span></td>
                      <td class="text-nowrap align-middle">{{object.employment_at}}</td>
                      <td class="text-center align-middle">{{object.position}}</td>
                      {% if user.is_authenticated %}
                      <td class="text-center align-middle">
                  
                        <div class="btn-group align-top">
                          <a href="{% url "employees:update" object.id %}"><button id="update-empl" class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button></a>
                    
                            <button id="delete-button" class="btn btn-sm btn-outline-secondary badge" type="button" value="{{object.id}}"><i class="fa fa-trash"></i></button>   
                        </div>
                      </td>
                      {% endif %}
                    </tr>
                    {% endfor %}  
                  </tbody>
                </table>
              </div>
              <div class="pagination d-flex justify-content-center" >
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="text-center px-xl-3">
              <a href="{% url "employees:create" %}"><button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal">New Employee</button></a>
            </div>
            <hr class="my-3">
            <div class="e-navlist e-navlist--active-bold">
              <ul class="nav">
                <li class="nav-item active"><a href="" class="nav-link"><span>All</span>&nbsp;<small>/&nbsp;32</small></a></li>
                <li class="nav-item"><a href="" class="nav-link"><span>Active</span>&nbsp;<small>/&nbsp;16</small></a></li>
                <li class="nav-item"><a href="" class="nav-link"><span>Selected</span>&nbsp;<small>/&nbsp;0</small></a></li>
              </ul>
            </div>
            <hr class="my-3">
            <div>
              <div class="form-group">
                <label>Date from - to:</label>
                <div>
                  <input id="dates-range" class="form-control flatpickr-input" placeholder="01 Dec 17 - 27 Jan 18" type="text" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label>Search:</label>
                <div>
                  <input class="form-control w-100" id="search-input" type="text" placeholder="Text" value="">
                  <button class="btn btn-info" id="search-button">Search</button>            
                </div>
              </div>
            </div>
            <hr class="my-3">
            <div class="">
              <label>Order By:</label>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="order-by-first" value="first_name">
                  <label class="custom-control-label" for="order-by-first">First Name</label>
                </div>
              </div>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="order-by-last" checked="" value="last_name">
                  <label class="custom-control-label" for="order-by-last">Last Name</label>
                </div>
              </div>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="order-by-middle" value="middle_name">
                  <label class="custom-control-label" for="order-by-middle" value="middle">Middle Name</label>
                </div>
              </div>
            </div>
             <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="order-by-registered" value="employment_at">
                  <label class="custom-control-label" for="order-by-registered">Registered</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
</div>
</div> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search-button').click(function() {
            performSearch(); 
        });

        function performSearch() {
            var searchText = $('#search-input').val(); 

            var selectedValue = $('.custom-control-input').change().val();

            $.ajax({
                url: '/list/', 
                method: 'GET', 
                data: { 'order': selectedValue, 'search': searchText }, 
                success: function(data) { 
                     $('#search-results').html($(data).find('#search-results').html());
                      $('.pagination').html($(data).find('.pagination').html());
                },
                error: function(xhr, textStatus, errorThrown) { 
                    console.log('Помилка при виконанні Ajax запиту: ' + errorThrown);
                }
            });
        }
    });

    $(document).ready(function() {

    $('.custom-control-input').change(function() {

        var selectedValue = $(this).val();
        var searchText = $("#search-input").val();


        $.ajax({
            url: '/list/', 
            method: 'GET', 
            data: { 'order': selectedValue, 'search': searchText }, 
            success: function(data) { 
                $('#search-results').html($(data).find('#search-results').html());
          
            },
            error: function(xhr, textStatus, errorThrown) { 
                console.log('Помилка при виконанні Ajax запиту: ' + errorThrown);
            }
        });
    });
});

  $(document).on('click', '#delete-button', function(event) {
        
            event.preventDefault();
            var emplId = $(this).val();
            console.log(emplId)
            $.ajax({
                type: 'POST',
                url: '/list/' + emplId + '/delete/',
                data: {
                  'pk': emplId, 
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                success: function(data) {
                    $('#search-results').html($(data).find('#search-results').html());
                    $('.pagination').html($(data).find('.pagination').html());
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log('Помилка при відправці запиту: ' + errorThrown);
      
                }
            });
        });
</script>



{% endblock content %}


