{% extends "base.html" %}
{% load mptt_tags %}
{% block title %}Employee List{% endblock title %}

{% block content %}
<ul class="root" >
    <button type="button" class="see" id="see">Click</button>
    {% recursetree object_list %}
    
        <li>
            {{ node.first_name }}
            {% if not node.is_leaf_node %}
                <ul class="children" id="update">
                        {{ children }} 
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   $(document).ready(function() {
    $('#see').click(function(event) {
        openFull(); 
    });

    function openFull() {
        $.ajax({
            url: '/tree/', 
            method: 'GET', 
            data: { 'full': 1 }, 
            success: function(data) { 
  
                $('#update').html($('').find('#update').html());
                $('#update').html($(data).find('#update').html());
        
            },
            error: function(xhr, textStatus, errorThrown) { 
                console.log('Помилка при виконанні Ajax запиту: ' + errorThrown);
            }
        });
    }
});

</script>
{% endblock content %}


