{% extends "base.html" %}
{% load static %}
{% block css %}<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/register.css"%}">
{% endblock css %}

{% block content %}

 <div class="container mt-5">
        <h2 class="mb-4">Login form</h2>
        {% include "messages/error-message-block.html" %}
        <form action="{%url "users:login"%}" method="POST">
          {% csrf_token %}
            <div class="form-group">
              <label for="{{form.username.id_for_label}}">Username:</label>
               <input type="text" name="username" class="form-control" id="{{ form.username.id_for_label }}" placeholder="username" required>
            </div>
            <div class="form-group">
                <label for="{{form.password.id_for_label}}">Password:</label>
                <input type="password" id="{{form.password.id_for_label}}"  name="password" class="form-control" placeholder="password" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
              <br/>
              <a href="{% url "users:register" %}" class="mb-3"><h6>Don't have account? Register</h6></a>
           </div>
             
        </form>
       
    </div>
{% endblock content %}